sudo: false

language: python

services:
  - mongodb

python:
  - "3.5"
  - "3.6"

install: pip install tox-travis coveralls

script: tox

after_success: coveralls

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/aa5a289b7a0df8aefd68
  irc:
    channels:
      - "chat.freenode.net#asphalt"
    on_success: change
    on_failure: change
    use_notice: true
    skip_join: true

deploy:
  provider: pypi
  user: agronholm
  password:
    secure: ZPrMOixxXrFaz5NbsJ21la1PClURZMyrsBdstSuqQT8BZ4UskMrtbwSfM3WuTZKy9qfQatfxZ0E7c8k9RUV/2qrWG+cNLzBattEPV0zlC0+HI/eAiDmlsC8zt6J2KS1EIJVomnpLTno5+5EbhUWbps+YpxZlXCglMBI+eBF1olGc49LyyugiHjzOAVEzI9sMGu86783Bs8lP23KCGC222AVqETejcJ6R8RP27BdcdG39Gu65qAumiRg+Qp8234MjNXZp/PQfZzjPUdIoIIMO1myD3r6kEb7vXh5fAvDOdyAuIp/nZKAYTilxFrJYmBTcBSQC4Mtb/MyHbd8mzLfrlVk1cHqDh6mD4eXKCzOz1wuNMAYLwC0Tx4DzSYSfzJ9/ulctYjbD9TfcGQq6dfBz/hJq4YvcQi+Xvd6r7FV6X0K5B4SnoeU2LxEIoMkVuvElz+lbIDJxtu/PxEVYRq3mW52PB4KVZZvmHFGUzcn452PKCYo6ihFYMSXDaRjKbobkEGD3vvnqqPpSa5aYdUo3Df996za+4DqqIMksAk+oQbWhxOZpKhsi4qgBPSmwhJbOXk4VcDXSkE5wNsupvD01zKhy3gXgAFx9bMGBUBjvy2k11tj/XGuvIRQdLY7NJkOkyxQHIdSYWKN1xOyyYFBKGZKAQtp1CHG6bqUE1l+uZyg=
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: "3.5"
    repo: asphalt-framework/asphalt-mongodb
